RewriteEngine On
RewriteRule ^Growing_Balls/?$ index.html
RewriteRule ^Gravity_Balls/?$ g.html
RewriteRule ^Floating_Circles/?$ fc.html
RewriteRule ^Mouse_Rectangles/?$ mr.html
RewriteRule ^Lights_off/?$ lo.html
RewriteRule ^Ball_cannon/?$ bc.html
RewriteRule ^Collision/?$ c.html
RewriteRule ^Circular_motion/?$ cm.html
RewriteRule ^Mouse_Spinner/?$ ms.html
RewriteRule ^Wave/?$ w.html
RewriteRule ^Shatter/?$ s.html